@import url("https://fonts.googleapis.com/css?family=Heebo:300&display=swap");

* {
  box-sizing: border-box;
}

:root {
  --primary-color: #000;
  --secondary-color: #fff;
}

html {
  transition: all 0.5s ease-in;
}

html.dark {
  --primary-color: #fff;
  --secondary-color: #333;
}

html.dark {
  background-color: #111;
  color: var(--primary-color);
}

body {
  font-family: "Heebo", sans-serif;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  transition: 0.5s ease-in;
}

.toggle {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border: 0;
  border-radius: 4px;
  padding: 8px 12px;
  position: absolute;
  top: 100px;
  cursor: pointer;
}

.toggle:focus {
  outline: none;
}

.create-timezone {
  padding: 8px 12px;
  position: relative;
  /* bottom: 200px; */
}
.add-timezone {
  opacity: 1;
  position: absolute;
  background-color: transparent;
  color: var(--primary-color);
  border: 0;
  cursor: pointer;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  /* transition: 0.5s ease; */
}

.add-timezone.in-active {
  opacity: 0;
  z-index: -1;
}

.new-timezone {
  text-align: center;
}

.new-timezone-search {
  font-size: 22px;
  opacity: 0;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  border: 1px solid #000;
  border-radius: 15px;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  text-align: center;
  transition: all 0.5s;
}

.new-timezone-search.active {
  width: 100%;
  height: 50px;
  opacity: 1;
  /* transition: all 0.5s; */
}

.new-timezone-search:focus {
  outline: none;
}

.clock-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.clock {
  position: relative;
  width: 200px;
  height: 200px;
}

.needle {
  background-color: var(--primary-color);
  position: absolute;
  top: 50%;
  left: 50%;
  height: 65px;
  width: 3px;
  transform-origin: bottom center;
  /* transition: all 0.5s ease-in; */
}

.needle.hour {
  transform: translate(-50%, -100%) rotate(0deg);
  width: 5px;
}

.needle.minute {
  transform: translate(-50%, -100%) rotate(0deg);
  height: 100px;
}

.needle.second {
  transform: translate(-50%, -100%) rotate(0deg);
  height: 100px;
  width: 1px;
  background-color: #e74c3c;
}

.center-point {
  background-color: #e74c3c;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.center-point::after {
  content: "";
  background-color: var(--primary-color);
  width: 5px;
  height: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.time {
  font-size: 60px;
}

.date {
  color: #aaa;
  font-size: 14px;
  letter-spacing: 0.3px;
  text-transform: uppercase;
}

.date .circle {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border-radius: 50%;
  height: 18px;
  width: 18px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 18px;
  transition: all 0.5s ease-in;
  font-size: 12px;
}

.navLeft {
  position: absolute;
  left: 45px;
  top: 100px;
}

.search-container {
  position: relative;
}

.list-container {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  position: absolute;
  text-align: left;
  width: 100%;
  padding: 0;
  margin: 0;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.zone {
  list-style-type: none;
}

.new-zone-selector {
  text-align: left;
  margin-left: 50%;
  padding: 0.5rem 1rem;
  transform: translateX(-50%);
  width: 80%;
  border: none;
  background: var(--primary-color);
  color: var(--secondary-color);
  cursor: pointer;
  font-size: 16px;
  font-weight: 100;
  font-family: "Heebo", sans-serif;
}

.new-zone-selector:hover {
  color: #e74c3c;
}
